process {
    executor = 'pbspro'
    time = '120 min'
    clusterOptions = '-lselect=1:ncpus=8:mem=96gb'

    withName: trim2 {
    container = 'BioinfoContainers_trimmomatic.sif'
    }

    withName: bwa_mem {
    container = 'bwa-samtools_latest.sif'
    time = '72 hours'
    clusterOptions = '-lselect=1:ncpus=32:mem=62gb'
    }

    withName: remove_duplicates {
    container = 'picard_v1.139_cv3.sif'
    time = '72 hours'
    clusterOptions = '-lselect=1:ncpus=32:mem=62gb'
    }

    withName: decompress {
        container = 'htslib_1.12.sif'
    }
    
    withName: split_bam{
        container = 'bamtools_v2.5.1dfsg-3-deb_cv1.sif'
    }

    withName: imputation {
        container = 'beagle4_latest.sif'
    }

    withName: combine {
        container = 'vcflib_latest.sif'
    }

    withName: plink_convert_admixture {
        container = 'plink1.9_v1.90b6.6-181012-1-deb_cv1.sif'
    }

    withLabel: index {
        container = 'bwa-samtools_latest.sif'
    }

    withLabel: toolbox {
        container = 'mbdtoolbox_latest.sif'
    }

    withLabel: samtools {
        container = 'bwa-samtools_latest.sif'
    }

    withLabel: angsd {
        container = 'angsd_latest.sif'
    }

    withLabel: tabix {
        container = 'tabix_v1.9-11-deb_cv1.sif'
    }

    withLabel: bcftools {
        container = 'bcftools_v1.9-1-deb_cv1.sif'
    }

    withLabel: vcftools {
        container = 'vcftools_v0.1.16-1-deb_cv1.sif'
    }

}

singularity.enabled = true
